.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
body {
    background-color: rgb(7, 110, 124);
    color: rgb(3,3,3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    width: 100%;
    display:block;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    height: 80px;
    padding-left:0%;
    
}

footer{
    padding: 10px 0;
    margin: 0;
    width: 100%;
    display:inline-flexbox;
    box-sizing: border-box;
}
.foot{
    padding: 10px 0;
    display: inline-block;
    margin:0;
}
/*Header*/
#about-me{
    overflow: visible;
    text-align: center;
    padding: 1em 0 1em 0;
    
}

#about-me .foto{
    margin-top: -60px;
}

#about-me .foto img{
    vertical-align: top;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

#about-me .texto {
    color: #17171B;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
    /* text-align: justify; */
    
}

#about-me .texto .titulo{
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    color: #314DE1;
    text-align: center;
}

#about-me .texto p{
    font-size: 1em;
    font-weight: 300;
    padding: 40px;
}

#about-me .texto .jump{
    display: inline-block;
    margin-top: 40px;
}

#about-me .texto .bold{
    color: #3895EA;
    text-decoration: underline;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}
nav ul li a:hover{
    color: #00ddfa;
}
.container-logo img{
    font-size: 50px;
    margin-right: 20px;
    max-width: 767px;
    min-width: 220px;
}
.container-logo{
    display: flex;
    align-items: center;
    max-width: 767px;
}
#container img {
    width: 40%; 
    max-width: 767px;
   }
#container {
    width: 100%;
    padding: 0;
    text-align: center;
    border: 1px solid #3d3c3c;
    margin: 0 auto;
    box-sizing: border-box;
}
#container h1 {
    font-size: 30px;
}
#cabecera {
    background: #37488b;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
}
.circulo-principal img{
    position: relative;
    transition: .5s;
    width: 90px;
    font-size: 50px;
    margin-right: 20px;
}
.circulo-principal:hover img{
    transform: scale(1.2);
}
.busqueda{
    background: #fff;
    border-radius: 50px;
    padding: 10px 0;
}
.busqueda i{
    margin-left: 10px;
}
.busqueda input{
    border: none;
    outline: none;
}
#about-me{
    background-color: white;
    padding: 0.2em;
    height: 400px;
}
#cabecera #logo {
    width: 0px;
    vertical-align: middle;
    float: none;
}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 1em 0 1em 0;
}
.rectangulo{
    padding: 1em 0 1em 0;
    margin: 0;
    border-radius: 0 0 0 0;
    background-color: #37488b;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px 100px;
}

footer .contacto{
    padding: 60px 0;
    width: 660px;
    height: auto;
    margin: 0 auto;
}

footer .contacto .titulo{
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    color: #17171B;
    text-align: center;
    margin-bottom: 40px;
}

footer .contacto .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
    border: 2px solid #cecece;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 10px;
    font-size: 20px;
    color: #000000;
    outline: none;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {
    border: 2px solid #17171B;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
}

footer .contacto .formulario textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton{
    margin: auto;
    background-color: #E5A604;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid transparent;
}
footer .contacto .formulario .boton:hover{
    background-color: #e4b02b;
    border: 2px solid #17171B;
}



footer .redes-sociales{
    background-image: url(../assets/FOOTER2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 560px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes-sociales .contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .redes-sociales .contenedor .herramientas .herramienta img{
    width: 30px;
    height: 30px;
}

footer .redes-sociales .contenedor .herramientas .herramienta{
    width: 100px;
    height: 94px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .redes-sociales .contenedor .herramientas .html{
    background-color: #E34F26;
    margin-bottom: 42px;
}

footer .redes-sociales .contenedor .herramientas .css{
    background-color: #002561;
    margin-bottom: 42px;
}

footer .redes-sociales .contenedor .herramientas .javascript{
    background-color: #F7DF1E;
    margin-bottom: 42px;
}

footer .redes-sociales .contenedor .herramientas .python{
    background-image: url(../assets/iconos/fondoPy.png);
}

footer .redes-sociales .contenedor .redes{
    display: flex;
    flex-direction: row;
    width: 750px;
    margin: 0 auto;
}

footer .redes-sociales .contenedor .redes .social{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:20px;
    margin-left: 20px;
}

footer .redes-sociales .contenedor .redes .git{
    background-color: #666666;
}

footer .redes-sociales .contenedor .redes .facebook{
    background-color: #3B5998;
}

footer .redes-sociales .contenedor .redes .twitter{
    background-color: #55ACEE;
}

footer .redes-sociales .contenedor .redes .instagram{
    background-image: url(../assets/iconos/fondoIns.png);
}

footer .redes-sociales .contenedor .redes .social img{
    width: 50px;
    height: 50px;
}
body .fecha{
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}


@media screen and (max-width: 800px){
    header .menu{
        text-align: center;
    }

    .main .trabajos .contenedor .contenedor-trabajos .trabajo{
        width: 46%;
    }

    footer .redes-sociales .contenedor .redes{
        width: 500px;
    }

    footer .redes-sociales .contenedor .redes .social{
        width: 100px;
        height: 100px;
    }
    footer .redes-sociales .contenedor .redes .social img{
        width: 30px;
        height: 30px;
    }

}

@media screen and (max-width: 500px){
    header .contenedor-texto .texto .nombre{
        font-size: 35px;
    }
    header .contenedor-texto .texto .profesion{
        font-size: 18px;
    }

    footer .contacto{
        width: 500px;
    }

    footer .redes-sociales{
        height: 260px;
    }

    footer .redes-sociales .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer .redes-sociales .contenedor .herramientas{
        display: flex;
        flex-direction: row;
        width: 350px;
    }
    footer .redes-sociales .contenedor .herramientas .herramienta{
        width: 100px;
        height: 50px;
        margin: 20px;
    }

    footer .redes-sociales .contenedor .redes{
        width: 350px;
    }
    footer .redes-sociales .contenedor .redes .social{
        width: 100px;
        height: 50px;
    }
    footer .redes-sociales .contenedor .redes .social img{
        width: 30px;
        height: 30px;
    }
    body .fecha{
        font-size: 10px;
    } 
}

@media screen and (max-width: 400px){   

    header .menu{
        display: flex;
        justify-content: center;
    }
    
    header .menu li a{
        font-size: 13px;
        margin: 0 10px;
    }

    header .contenedor-texto .texto{
        width: 100%;
    }

    header .contenedor-texto .texto .nombre{
        font-size: 18px;
    }
    header .contenedor-texto .texto .profesion{
        font-size: 12px;
    }
    header .contenedor-texto{
        margin: 100px 0;
    }
    .main .acerca-de .texto{
        width: 100%;
    }

    .main .acerca-de .texto .titulo{
        font-size: 24px;
        line-height: 24px;
    }
    
    .main .acerca-de .texto p{
        font-size: 13px;
        font-weight: 300;
        padding: 10px;
    }
    .main .trabajos .contenedor .titulo{
        font-size: 24px;
        line-height: 24px;
    }
    footer .contacto{
        width: 260px;
    }
    footer .contacto .titulo{
        font-size: 24px;
        line-height: 24px;
    }
    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"]{
    width: 100%;
    margin-bottom: 15px;
    }
    footer .contacto .formulario .boton{
        height: 50px;
        width: 100px;
    }
    footer .redes-sociales .contenedor .herramientas{
        width: 100%;
    }
    footer .redes-sociales .contenedor .herramientas .herramienta{
        width: 100px;
        height: 50px;
        margin: 3px;
    }
    footer .redes-sociales .contenedor .redes{
        width: 100%;
    }
    footer .redes-sociales .contenedor .redes .social{
        width: 100px;
        height: 50px;
        margin: 3px;
    }
    
  
}
