body {
    background-color: rgb(7, 110, 124);
    color: rgb(3,3,3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    height: 80px;
    text-align: center;
    
}
.head {
    padding-left:0%;
}
.boton {
}
/*Header*/
#about-me{
    overflow: visible;
}

#about-me{
    text-align: center;
}

#about-me .foto{
    margin-top: -60px;
}

#about-me .foto img{
    vertical-align: top;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

#about-me .texto {
    color: #17171B;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
    /* text-align: justify; */
    
}

#about-me .texto .titulo{
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    color: #314DE1;
    text-align: center;
}

#about-me .texto p{
    font-size: 1em;
    font-weight: 300;
    padding: 40px;
}

#about-me .texto .jump{
    display: inline-block;
    margin-top: 40px;
}

#about-me .texto .bold{
    color: #3895EA;
    text-decoration: underline;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    margin: 0 40px;
}
nav ul li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}
nav ul li a:hover{
    color: #00ddfa;
}
.container-logo img{
    font-size: 50px;
    margin-right: 20px;
    max-width: 767px;
    min-width: 220px;
}
.container-logo{
    display: flex;
    align-items: center;
    max-width: 767px;
}
#container img {
    width: 40%; 
    max-width: 767px;
   }
#container {
    width: 100%;
    padding: 0;
    text-align: center;
    border: 1px solid #3d3c3c;
    margin: 0 auto;
    box-sizing: border-box;
}
#container h1 {
    font-size: 30px;
}
#cabecera {
    background: #37488b;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 1em 0 1em 0;
}
.circulo-principal img{
    position: relative;
    transition: .5s;
    width: 90px;
    font-size: 50px;
    margin-right: 20px;
}
.circulo-principal:hover img{
    transform: scale(1.2);
}
.busqueda{
    background: #fff;
    padding: 10px;
    border-radius: 50px;
}
.busqueda i{
    margin-left: 10px;
}
.busqueda input{
    border: none;
    outline: none;
}
#about-me{
    background-color: white;
    padding: 0.2em;
    height: 400px;
}
#cabecera #logo {
    width: 0px;
    vertical-align: middle;
    float: none;
}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#footer {
    padding: 0.5em;
    background: #777;
    color: white;
    text-align: center;
}
.rectangulo{
    padding: 1em 0 1em 0;
    margin: 0;
    border-radius: 40px 40px 0 0;
    background-color: #1f2131;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px 100px;
}
