@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
:root {
    --color-main: aquamarine;
    --color-sec: rgb(8, 23, 105);
}
html {
    font-family: 'Merriweather', serif;
}
* {
    margin: 0;
    padding: 0;
}
.header-menu ul li a {
    color: aliceblue;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 100%;
}
.header-menu ul li a:active {
    color: var(--color-main);
}
.header {
    background-color: var(--color-sec);
    max-width: 100%;
    width: 100vw;
    position: fixed;
    padding: 10px 0;
}
.home {
    flex-wrap: wrap;
    padding: 80px 0px;
    background-image: url(../Images/pexels-stein-egil-liland-1933239.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;
    height: 85vh;
}
.header-menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    margin: 10px;
}
.profile {
    max-width: 100%;
    width: 20vw;
    float: right;
}
.skills-logo, .sn-logo {
    max-width: 100%;
    width: 8vw;
}
.about-me {
    padding: 70px 10px 0 10px;
    margin: 10px;
}
.home h1,.home p {
    text-align: center;
    color: white;
    animation: animacion 2s ease-in-out infinite alternate;
}
@keyframes animacion {
    from {color: rgb(141, 156, 241);}
    to {color: rgb(121, 238, 121);}
}
.home h1 {
    padding-top: 200px;
    padding-bottom: 20px;
}
.contact {
    padding: 60px 10px;
    text-align: center;
    background-color: var(--color-main);
}
.button {
    padding: 10px 40px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    font-family:'Merriweather', serif;
    border: none;
    cursor: pointer;
    font-size: 100%;
}
#email, #name, #message  {
    max-width: 100%;
    width: 40vw;
    font-family: 'Merriweather', serif;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.skills {
    background-color: var(--color-main);
    padding: 30px 20px;
}
.skills-title {
    display: flex;
    justify-content: center;
}
.skills-list {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}
.skills-list li {
    display: flex;
    align-items: center;
}
.skills-list li img {
    margin-right: 10px;
}
.social-network {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: baseline;
}
.footer-d {
    display: flex;
    justify-content: center;
    background-color: var(--color-sec);
    color: white;
}
@media (orientation:landscape){
    :root {
        --color-main: rgb(57, 216, 105);
        --color-sec: rgb(8, 82, 105);  
    }
    .about-me {
        padding: 60px 10px 0 10px;
    }
    .header {
        background-color: var(--color-sec);
        max-width: 100%;
        width: 100vw;
        position: fixed;
        /* top: 0; */
        padding: 5px 0 ;
    }
    .header-menu ul li a:hover {
        color: skyblue;
    }
    .header-menu ul li a:active {
        color: var(--color-main);
    }
    .home h1 {
        max-height: 100%;
        padding-top: 20vh;
    }
    .button {
        background-color: var(--color-sec);
        color: white;
    }
    .button:hover{
        padding: 15px 45px;
    }
    .contact {
        padding: 60px 10px;
    }
}
