@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
$font-main:'Poppins', sans-serif;

*{
    font-family: $font-main;
    max-width: 100vw;
}

svg{
    fill: none !important;
}

.aboutme{
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    gap: 2em;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2em;
    padding-bottom: 2em;
    
    &__title{
        font-size: large;
        width: auto;
    }
    &__card{
        font-size: 0.9em;
        font-weight: bolder;
    }
}

.background--custom {
    background: linear-gradient(90deg, #3AE3EC, #3892A3, #1AF374);
    background-size: 300% 300%;
    animation: gradient 4s alternate infinite;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
}

.form{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2em;
    column-gap: 6em;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2em;
    padding-bottom: 2em;
    &__detail{
        display: flex;
        flex-direction: column;
        gap: 1em;
        &-info{
            font-size: smaller;
        }
        &-svg{
            fill: blue !important;
            width: 4em;
        }
        &-number, &-email, &-location{
            display: flex;
            flex-direction: row;
        }
        &-p{
            display: flex;
            flex-direction: column;
        }
    }
    &__registro{
        
        &-section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1em;
            justify-content: center;
        }
    }
    &__title{
        //width: 100vw;
        font-size: large;
        text-align: center;
        color: black;
        padding-bottom: 2em;
    }
}

.input {
    position: relative;
    max-width: 50vw;
    border: none;
    box-shadow: 0px 1.5px 0px 0px #858585;
    padding: .5rem;
    transition: all 200ms ease-in-out;
    opacity: .8;
    &__textarea{
        width: 30.5em;
    }
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    font-size: medium;
    font-weight: bold;
    //color: #858585;
    color: black;
    margin-bottom: 4px;
    margin-left: 1px;
  }
  
  .input-helper {
    color: #858585;
    font-size: .5rem;
    margin-top: 6px;
    margin-left: 1px;
    visibility: hidden;
    transform: translateY(-.5rem);
    transition: all 100ms linear;
    z-index: -1;
  }
  
  .input::placeholder {
    color: rgb(145, 145, 145);
    font-size: .75rem;
  }
  
  .input::after {
    content: attr(placeholder);
    position: absolute;
    color: #161616;
    top: 0;
    left: 0;
  }
  
  .input:focus {
    border: none;
    box-shadow: 0px 1.5px 0px 0px #72E985;
    outline: none;
  }
  
  .input:focus + .input-helper {
    visibility: visible;
    transform: translateY(0rem);
  }
  
  .input:focus::placeholder {
    visibility: hidden;
  }

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: royalblue;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    &__brand{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 0.1px;
        // font-size: 0.8em;
        &-name{
            top: 17px;
        }
        &-lastname{
            color: rgb(226, 223, 223);
        }
    }
    &__section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 35vw;
        gap: 0em;
        &-nav{
            gap: 2em;
        }
        &-movil{
            display: none;
        }
    }
    &__picture{
        width: 3em;
        &-img{
            width: 3em;
        }
    }
}

.habilidades, .habilidades__2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    &__card, &-card{
        width: 45vw;
        height: 15em;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
        overflow: visible;
        &-item{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                transform: scale(0.95);
                transition: all 0.3s;
            }
            svg {
                width: 60px;
                height: 60px;
                margin-bottom: 7px;
            }
            &--1 {
                background: #c7c7ff;
            }
            &--2 {
                background: #ffd8be;
            }
            &--3 {
                background: #e2eca9;
            }
            &--4 {
                background: #f3bbe1;
            }
            &--5 {
                background: #ffd8be;
            }
            &--6 {
                background-color: #A6A7A8;
            }
            &--7 {
                background-color: #C8ADF3;
            }
            &--8 {
                background: #e2eca9;
            }
            &--9 {
                background-color: #ffffff;
            }
        }
        &-quantity {
            font-size: 25px;
            font-weight: 600;
        }
    }
    &__text{
        font-size: 0.9em;
        font-family: inherit;
        font-weight: 600;
        // &-1{
        //     color: rgba(149,149,255,1);
        // }
        // &-2{
        //     color: rgba(252,161,71,1);
        // }
        // &-3{
        //     color: rgb(84, 88, 14);
        // }
        // &-4{
        //     color: rgba(220,91,183,1);
        // }
        // &-5{
        //     color: rgba(255, 0, 0, 1)
        // }
        // &-6{
        //     color: rgb(0, 0, 0,1);
        // }
        // &-7{
        //     color:#6F2BF3;
        // }
        // &-8{
        //     color: rgb(84, 88, 14);
        // }
        &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9{
            color: rgb(0, 0, 0,1);
        }
    }
    &__title{
        font-size: large;
    }
}
.curved {
    position: relative;
    background: royalblue;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 10vh;
    border-bottom-left-radius: 80% 20%;
    border-bottom-right-radius: 80% 20%;
  }


.barra-navegacion {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .barra-navegacion a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  


.main{
    color: black;
    height: 91vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    &__description{
        width: 30vw;
        gap: 2em;
        &-name{
            font-size: x-large;
            flex-wrap: wrap;
        }
        &-div{
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            margin-bottom: 1em;
            width: 70vw;
        }
    }
    &__profile{
        width: 30vw;
        padding-top: auto;
        display: flex;
        justify-content: center;
        &-card{
            width: 20vw;
            height: 250px;
            row-gap: 1em;
            background: linear-gradient(-45deg, rgb(9, 16, 109) ,  rgba(0,255,239,1));
            border-radius: 20px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
            transition: 0.5s ease;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            
            img{
                width: 9em;
                border-radius: 10px;
            }
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: bold;
                text-shadow: 1px 1px 4px rgb(0,0,0);
                transition: .3s;
            }
            &:hover {
                scale: 1.1;
                border-radius: 20px 80px;
                box-shadow: 11px 11px 25px rgba(0, 0, 0, 0.5);
            }
            &:hover::after {
                color: aqua;
            }
        }
        &-networks{
            display: flex;
            justify-content: center;
            flex-direction: row;
            height: 2.5em;
            column-gap: 0.5em;
        }
    }
}


.button{
    &__download{
        position: relative;
        border-width: 0;
        color: white;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px;
        z-index: 1;
        cursor: pointer;
        &-docs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            min-height: 40px;
            padding: 0 10px;
            border-radius: 4px;
            z-index: 1;
            background-color: royalblue;
            border: solid 1px #e8e8e82d;
            transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
            svg{
                width: 3em;
            }
        }
        &-down{
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 90%;
            margin: 0 auto;
            z-index: -1;
            border-radius: 4px;
            transform: translateY(0%);
            background-color: #01e056;
            border: solid 1px #01e0572d;
            transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
            svg polyline, svg line {
                animation: docs 1s infinite;
               }
        }
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            .button__download-down {
                transform: translateY(100%)
            }

        }
    }
    &__form{
        cursor: pointer;
        font-family: inherit;
        font-size: medium;
        background: royalblue;
        color: white;
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;

        span {
            display: block;
            margin-left: 0.3em;
            transition: all 0.3s ease-in-out;
        }
        svg {
            display: block;
            transform-origin: center center;
            transition: transform 0.3s ease-in-out;
        }
        &:hover {
            .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
              
            }
            svg {
                transform: translateX(1.2em) rotate(45deg) scale(1.1);
            }
            span {
                transform: translateX(5em);
            }
        }
        &:active {
            transform: scale(0.95);
        }
    }
    &__profile{
        display: grid;
        place-items: center;
        background: #e3edf7;
        border-radius: 10px;
        box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
        border: 1px solid rgba(0,0,0,0);
        cursor: pointer;
        transition: transform 0.5s;
        &:hover {
            box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                    -0.5px -0.5px 0px rgba(255,255,255,1),
                    0.5px 0.5px 0px rgba(0,0,0,0.15),
                    0px 12px 10px -10px rgba(0,0,0,0.05);
            border: 1px solid rgba(0,0,0,0.1);
            transform: translateY(0.5em);

            
        }
        svg {
            transition: transform 0.5s;
          }
    }
}

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

@keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
}


.footer{
    color: black;
    font-size: x-small;
    display: flex;
    justify-content: center;
    text-align: center;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 2em;
    padding-bottom: 4em;
    &__title{
        width: 90vw;
        font-size: large;
        text-align: center;
        color: black;
    }
    &__card {
        color: black;
        width: 250px;
        height: 300px;
        padding: .8em;
        background: #f5f5f5;
        position: relative;
        overflow: visible;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    &__card{
        &-button {
            border: 1px solid #252525;
            display: flex;
            padding: .3em;
            cursor: pointer;
            border-radius: 50px;
            transition: .3s ease-in-out;
            &:hover {
                border: 1px solid #ffcaa6;
                background-color: #ffcaa6;
            }
        }
        &-img {
            background-color: #ffcaa6;
            height: 40%;
            width: 100%;
            border-radius: .5rem;
            transition: .3s ease;
            &:hover {
                transform: translateY(-25%);
                box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
            }
        }
        &-info {
            padding-top: 10%;
        }
        &-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            border-top: 1px solid #ddd;
        }
    }
}
   
  
  
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
 

   .cta {
    width: 40vw;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta a {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

@media (max-width: 768px){
    .button{
        &__download{
            margin: auto;
        }
    }
    .habilidades{
        &__card{
            width: 75vw;
            grid-template-columns: 1fr 1fr 1fr;
            height: auto;
            &-item{
                height: 8em;
            }
        }
    }
    .header{
        display: none;
        &__picture{
            display: none;
        }
        &__section{
            width: auto;
            &-nav{
                display: none;
            }
            &-movil{
                display: flex;
            }
        }
    }

    .input {
        max-width: 80vw;
        &__textarea{
            width: auto;
        }
    }

    .main{
        flex-direction: column-reverse;
        height: 100vh;
        gap: 2em;
        &__description{
            width: auto;
        }
        &__profile{
            width: auto;
            &-card{
                width: 50vw;
            }
        }
        
    }
    .form{
        flex-direction: column;
        gap: 2em;
        &__detail{
            width: 324px;
            &-info{
                font-size: smaller;
            }
        }
        &__title{
            width: auto;
            padding-bottom: 1em;
        }
        &__registro{
            &-section{
                gap: 0;
                display: flex;
                justify-content: center;
            }
        }
    }
    .input-box{
        width: 70vw;
    }
}
